.header__wrapper {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: min(72px, 4vw);

}

.header__nav-link {
    border-radius: 4px;
    font-weight: 500;
    font-size: 20px;
    color: var(--color-black);
    white-space: nowrap;
}

.header__nav-link:hover {
    color: var(--color-light-green);
}

.header__nav-link:focus-visible {
    outline: 2px solid var(--color-dark-green);
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 10px;
}

@media (max-width: 992px) {
    .header__nav-link {
        font-size: 16px;
    }

    .header__actions .btn {
        font-size: 16px;
        width: 120px;
    }
}

@media (max-width: 768px) {
    .header__wrapper {
        padding: 0 0 0 55px;
    }
    .header__nav {
        display: none;
    }
}

@media (max-width: 390px) {
     .header__actions .btn {
        width: 90px;
    }
}